<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>NextStep</title>
    <script src="{{ url_for('static', filename='test.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="icon" href="../static/img/log.png" sizes="50x50" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/header-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/adaptive/header-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/test.css') }}">
</head>
<body style="background-color:#FAFAFA">
    <header class="container-fluid">
        <div class="container d-flex">
            <img src="{{ url_for('static', filename='img/logo.png') }}" onclick="openMain()" alt="NextStep"/>
            <nav class="menu">
                <a href="#work">Как это работает?</a>
                <a href="#for">Для кого?</a>
                <a href="#img">Почему стоит попробовать?</a>
            </nav>
            <div class="buttons">
                <div onclick="openRegister()" class="button-reg">
                    <p>Начать</p>
                </div>
                <div onclick="openLogin()" class="button-log">
                    <p>Войти</p>
                </div>
                <div class="burger-menu">
                    <a>
                        <img src="{{ url_for('static', filename='img/burger-menu.svg') }}"/>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="container">
            <div class="block1 d-flex">
                <div class="name">
                    <p>Профориентация на базе ИИ</p>
                </div>
            </div>
            <div class="block2 d-flex">
                <div class="tests">
                    <div style="display: flex; flex-direction: row;">
                        <div id="question-number">
                        </div>
                        <p id="count">из 12</p>
                    </div>
                    <div id="div">
                        <p id="main-text">— Что ты делаешь с удовольствием?</p>
                    </div>
                    <div id="processing" style="display: none;">
                        <img src="/static/img/spinner.gif" alt="Загрузка..." width="24" height="24" />
                        <p id="processing-text">Обработка результата...</p>
                    </div>
                    <p id="result-text" style="display: none;">Ваш результат</p>
                    <div id="answer-block">
                        <div id="inn-div">
                            <div class="cart1" data-index="0"><p></p><img src="/static/img/Radio.svg" /></div>
                            <div class="cart1" data-index="1"><p></p><img src="/static/img/Radio.svg" /></div>
                            <div class="cart1" data-index="2"><p></p><img src="/static/img/Radio.svg" /></div>
                        </div>
                        <div id="inn-div">
                            <div class="cart1" data-index="3"><p></p><img src="/static/img/Radio.svg" /></div>
                            <div class="cart1" data-index="4"><p></p><img src="/static/img/Radio.svg" /></div>
                            <div class="cart1" data-index="5"><p></p><img src="/static/img/Radio.svg" /></div>
                        </div>
                    </div>
                    <div id="next-btn">
                        <div id="cursor">
                            <p id="p-div">вперед</p>
                            <img id="img-div" src="{{ url_for('static', filename='img/black-left.svg') }}"/>
                        </div>
                    </div>
                    <div id="ai-result" style="display: none;"></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid" style="margin-top: 360px;">
        <div class="container d-flex">
            <p><a href="https://t.me/proforientiree">Telegram</a> | <a href="https://github.com/ArturDerr/NextStep">GitHub</a> |  Авторские права © 2025 NextStep. Все права защищены  |  nextstep@gmail.com</p>
        </div>
    </footer>
</body>
</html>