html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    .main {
        background: url("../img/main-img.png") no-repeat;
        width: 917.479px;
        height: 516.082px;
        .main-text {
            color: #FFF;
            padding: 60px;
            font-family: Unbounded;
            font-size: 3.438em;
            font-style: normal;
            font-weight: 700;
            margin-bottom: -50px;
            line-height: 60px;
        }
        .text {
            color: #FFF;
            font-family: Montserrat;
            margin-left: 60px;
            font-size: 1.438em;
            font-style: normal;
            font-weight: 300;
            line-height: 25px;
        }
        .buttons {
            display: flex;
            padding: 30px 60px;
            .button-test {
                cursor: pointer;
                border: 1px solid #ffffff;
                width: 150px;
                height: 35px;
                border-radius: 20px;
                align-items: center;
                justify-content: center;
                &:hover {
                    border: none;
                    background: #0D00FF;
                    transition: 0.4s;
                }
                &:hover p{
                    color: #ffffff;
                    margin-top: 10px;

                }
                p {
                    color: #ffffff;
                    margin-top: 9px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.75em;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            .button-ai {
                cursor: pointer;
                background: #E6E6E6;
                margin-left: 8px;
                width: 190px;
                height: 35px;   
                border-radius: 20px;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: #0D00FF;
                    transition: 0.4s;
                }
                &:hover p{
                    color: #ffffff;
                }
                p {
                    color: #000000;
                    margin-top: 9px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.75em;
                    font-style: normal;
                    font-weight: 700;
                }
            }
        }
    }
}

.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    .main2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #text-m {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            p {
                color: #000000;
                font-family: Unbounded;
                font-size: 1.75em;
                margin-bottom: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
            }
        }
        .carts {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            .cart1 {
                cursor: pointer;
                width: 305px;
                height: 454.786px;
                background: url("../img/cart1.png") no-repeat;
                transition: 0.4s;
                &:hover {
                    transform: scale(1.1);
                    background: url("../img/cart1_selected.png");
                }
                .txt {
                    .number {
                        padding: 40px 30px;
                        color: #DBDBDB;
                        font-family: Unbounded;
                        font-size: 4em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    .m-text {
                        color: #FFF;
                        font-feature-settings: 'dlig' on;
                        font-family: Unbounded;
                        padding: 10px 30px;
                        margin-top: 120px;
                        font-size: 1.5em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    .text {
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 1.438em;
                        font-style: normal;
                        padding: 0px 30px;
                        font-weight: 300;
                        line-height: 25px
                    }
                }
            }
            .cart2 {
                width: 305px;
                cursor: pointer;
                height: 454.786px;
                margin-left: 10px;
                transition: 0.4s;
                background: url("../img/cart2.png") no-repeat;
                &:hover {
                    transform: scale(1.1);
                    background: url("../img/cart2-selected.png");
                }
                .txt {
                    .number {
                        padding: 40px 30px;
                        color: #DBDBDB;
                        font-family: Unbounded;
                        font-size: 4em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    .m-text {
                        color: #FFF;
                        font-feature-settings: 'dlig' on;
                        font-family: Unbounded;
                        padding: 10px 30px;
                        margin-top: 120px;
                        font-size: 1.5em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    .text {
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 1.438em;
                        font-style: normal;
                        padding: 0px 30px;
                        font-weight: 300;
                        line-height: 25px
                    }
                }
            }
            .cart3 {
                width: 291px;
                cursor: pointer;
                height: 455px;
                margin-left: 10px;
                transition: 0.4s;
                overflow: hidden;
                background: url("../img/cart3.png") no-repeat;
                &:hover {
                    transform: scale(1.1);
                    background: url("../img/cart3-selected.png") no-repeat;
                }
                .txt {
                    .number {
                        padding: 40px 30px;
                        color: #DBDBDB;
                        font-family: Unbounded;
                        font-size: 4em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    .m-text {
                        color: #FFF;
                        font-family: Unbounded;
                        padding: 10px 30px;
                        margin-top: 120px;
                        font-size: 1.5em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    .text {
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 1.438em;
                        font-style: normal;
                        padding: 0px 30px;
                        font-weight: 300;
                        line-height: 25px
                    }
                }
            }
        }
    }
}

.block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
    flex-direction: column;
    .main3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #text-m {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            p {
                color: #000000;
                font-family: Unbounded;
                font-size: 1.75em;
                margin-bottom: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
            }
        }
        .for {
            display: flex; 
            user-select: none;
            justify-content: flex-start; 
            align-items: center; 
            .name1 {
                flex-shrink: 0;
                border-radius: 20px;
                border: 1px solid #0D00FF;
                padding: 7px 20px;
                p {
                    color: #0D00FF;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.938em;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            .name2 {
                flex-shrink: 0;
                margin-left: 7px;
                border-radius: 20px;
                border: 1px solid #000000;
                padding: 7px 20px;
                p {
                    color: #000000;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.938em;
                    font-style: normal;
                    font-weight: 700;
                }
            }

            .name3 {
                flex-shrink: 0;
                margin-left: 7px;
                border-radius: 20px;
                border: 1px solid #0D00FF;
                padding: 7px 20px;
                p {
                    color: #0D00FF;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.938em;
                    font-style: normal;
                    font-weight: 700;
                }
            }

            .name4 {
                flex-shrink: 0;
                margin-left: 7px;
                border-radius: 20px;
                border: 1px solid #000000;
                padding: 7px 20px;
                p {
                    color: #000000;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.938em;
                    font-style: normal;
                    font-weight: 700;
                }
            }

            .name5 {
                flex-shrink: 0;
                margin-left: 7px;
                border-radius: 20px;
                border: 1px solid #0D00FF;
                padding: 7px 20px;
                p {
                    color: #0D00FF;
                    text-align: center;
                    font-family: Unbounded;
                    font-size: 0.938em;
                    font-style: normal;
                    font-weight: 700;
                }
            }
        }
    }
    
}

.block4 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 50px;
    .main4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #text-m {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            p {
                color: #000000;
                font-family: Unbounded;
                font-size: 1.75em;
                margin-bottom: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
            }
        }
        .carts {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            .cart1 {
                width: 305px;
                height: 224px;
                border-radius: 20px;
                border: 1px solid #0D00FF;
                img {
                    padding: 20px 25px;
                }
                .main-text {
                    color: #0D141C;
                    font-family: Unbounded;
                    padding: 25px;
                    margin-top: -25px;
                    font-size: 1.5em;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; 
                }
                .inner-text {
                    color: #636363;
                    font-family: Montserrat;
                    padding: 0 25px;
                    margin-top: -15px;
                    font-size: 1.438em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
            .cart2 {
                width: 305px;
                height: 224px;
                margin-left: 10px;
                border-radius: 20px;
                background-color: #0D00FF;
                img {
                    position: absolute;
                    margin-top: -100px;
                    margin-left: 200px;
                }
                .main-text {
                    color: #ffffff;
                    font-family: Unbounded;
                    padding: 25px;
                    margin-bottom: 5px;
                    margin-top: 35px;
                    font-size: 1.5em;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; 
                }
                .inner-text {
                    color: #ffffff;
                    font-family: Montserrat;
                    padding: 0 25px;
                    margin-top: -20px;
                    font-size: 1.438em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
            .cart3 {
                display: flex;
                width: 305px;
                height: 224px;
                margin-left: 10px;
                flex-direction: column;
                border-radius: 20px;
                background: #E6E6E6;
                .main-text {
                    color: #000000;
                    font-family: Unbounded;
                    padding: 25px;
                    margin-bottom: 5px;
                    margin-top: 35px;
                    font-size: 1.5em;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; 
                }
                .inner-text {
                    color: #000000;
                    font-family: Montserrat;
                    padding: 0 25px;
                    margin-top: -20px;
                    font-size: 1.438em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
        #img {
            position: absolute;
            width: 500px;
            margin-top: 530px;
            margin-right: 600px;
            height: 436px;
        }
    }
    
}
