* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
    margin-bottom: -30px;
    max-width: 800px;
    margin-top: 40px;
    .name {
        width: 650px;
        padding-left: 40px;
        p {
            color: #000;
            text-align: left;
            font-family: Unbounded;
            font-size: 1.875em;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }
    }
}

.block2 {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-left: 370px;
    padding-right: 40px;
    align-items: center;
    margin-top: 50px;
    .tests {
        #question-number {
            padding-left: 15px;
            color: #0D00FF;
            margin-bottom: 20px;
            font-family: Unbounded;
            font-size: 1.938em;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
        }
        #count {
            padding: 5px;
            color: #b1b1b1;
            font-family: Unbounded;
            font-size: 0.938em;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
        }
        #div {
            margin-left: 18px;
            display: flex;
            flex-direction: row;
            #main-text {
                color: #000;
                font-family: Montserrat;
                font-size: 1.563em;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
            }
        }
        #processing {
            display: flex;
            align-items: center; 
            margin-left: 25px;
            #processing-text {
                color: #000;
                font-family: Unbounded;
                font-size: 1.3em;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                padding-left: 10px;
            }
        }
        #result-text {
            margin-left: 15px;
            color: #000000;
            font-family: Unbounded;
            font-size: 1.5em;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
        }
        #next-btn {
            display: flex;
            margin-top: 15px;
            margin-left: 15px;
            #cursor {
                display: flex;
                justify-content: right;
                flex-direction: row;
                cursor: pointer;
                &:hover p{
                    transition: 0.2s;
                    color: #0D00FF;
                }
                &:hover img {
                    transition: 0.2s;
                }
                p {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 0.938em;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px;
                }
                img {
                    margin-top: 1px;
                    margin-left: 4px;
                }
            }
        }
        #ai-result {
            margin-top: 25px;
            width: fit-content;
            margin-left: 15px;
            margin-right: 500px;
            border-radius: 20px;
            margin-bottom: 400px;
            border: 1px solid #DDD;
            padding: 25px;
            background: #F5F5F5;
            ol, ul {
                margin-left: 20px; 
                padding-left: 20px; 
            }
        }
        #answer-block {
            margin-top: 20px;
            #inn-div {
                display: flex;
                justify-content: left;
                flex-direction: row;
                margin-bottom: 10px;
            }
            .cart1 {
                cursor: pointer;
                margin-left: 10px;
                border-radius: 20px;
                background: #e2e2e2;
                width: fit-content;
                transition: 0.4s;
                height: fit-content;
                &:hover{
                    background: #0D00FF;
                    transform: scale(1.1);
                }
                &.selected {
                    background: #0D00FF;
                }
                &:hover p,
                &.selected p{
                    color: #ffffff;   
                }
                p {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 1.213em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px; 
                    padding: 30px;
                }
                img {
                    display: none;
                    padding-right: 30px;
                }
            }
        }
    }
}