@media screen and (max-width: 960px) {
  main .container .block2 {
    margin-bottom: -150px;
  }
  main .container .block2 .chat {
    width: 700px;
  }
  main .container .block2 .chat .input {
    padding: 0px 0px 10px;
  }
  main .container .block2 .chat .input #inner #chat-form {
    width: 680px;
  }
  main .container .block2 .chat .input #inner #chat-form #inner-div input {
    width: 640px;
  }
}
@media screen and (max-width: 760px) {
  main .container .block1 {
    display: flex;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
  }
  main .container .block1 .star {
    text-align: center;
  }
  main .container .block1 .star p {
    text-align: center;
    font-family: Unbounded;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  main .container .block2 .text-t {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
  }
  main .container .block2 .text-t p {
    text-align: center;
    width: 400px;
    color: #9c9c9c;
    font-family: Montserrat;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
  }
  main .container .block2 .chat {
    width: 500px;
  }
  main .container .block2 .chat .input {
    padding: 0px 0px 10px;
  }
  main .container .block2 .chat .input #inner #chat-form {
    width: 480px;
  }
  main .container .block2 .chat .input #inner #chat-form #inner-div input {
    width: 420px;
  }
}
@media screen and (max-width: 540px) {
  main .container .block1 {
    display: flex;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
  }
  main .container .block1 .star {
    text-align: center;
  }
  main .container .block1 .star p {
    text-align: center;
    font-family: Unbounded;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  main .container .block2 .text-t {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
  }
  main .container .block2 .text-t p {
    text-align: center;
    width: 300px;
    color: #9c9c9c;
    font-family: Montserrat;
    font-size: 0.7em;
    font-style: normal;
    font-weight: 400;
  }
  main .container .block2 .chat {
    width: 400px;
  }
  main .container .block2 .chat .input {
    padding: 0px 0px 10px;
  }
  main .container .block2 .chat .input #inner #chat-form {
    width: 380px;
  }
  main .container .block2 .chat .input #inner #chat-form #inner-div input {
    width: 320px;
  }
}
@media screen and (max-width: 460px) {
  main .container .block1 {
    display: flex;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
  }
  main .container .block1 .star {
    text-align: center;
  }
  main .container .block1 .star p {
    text-align: center;
    width: 350px;
    font-family: Unbounded;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  main .container .block2 .text-t {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
  }
  main .container .block2 .text-t p {
    text-align: center;
    width: 300px;
    color: #9c9c9c;
    font-family: Montserrat;
    font-size: 0.7em;
    font-style: normal;
    font-weight: 400;
  }
  main .container .block2 .chat {
    width: 300px;
  }
  main .container .block2 .chat .input {
    padding: 0px 0px 10px;
  }
  main .container .block2 .chat .input #inner #chat-form {
    width: 285px;
  }
  main .container .block2 .chat .input #inner #chat-form #inner-div input {
    width: 235px;
  }
}/*# sourceMappingURL=chat-adaptive.css.map */