@media screen and (max-width: 1600px) {
  .block1 {
    margin-left: 100px;
  }
  .block2 {
    padding-left: 200px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1140px) {
  .block1 {
    margin-left: 0px;
  }
  .block2 {
    padding-left: 100px;
    padding-right: 60px;
  }
  .block2 #answer-block {
    flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  .block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    max-width: 600px;
    margin-top: 40px;
  }
  .block1 .name {
    width: 650px;
  }
  .block1 .name p {
    color: #000;
    text-align: left;
    font-family: Unbounded;
    font-size: 1.675em;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
  .block2 {
    margin-bottom: 150px;
  }
  .block2 .tests #answer-block #inn-div {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .block2 .tests #answer-block #inn-div .cart1 {
    margin-bottom: 10px;
  }
  .block2 .tests #answer-block #inn-div .cart1 p {
    font-size: 1em;
    line-height: 20px;
    padding: 25px;
  }
}
@media screen and (max-width: 760px) {
  .block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    max-width: 600px;
    margin-top: 40px;
  }
  .block1 .name {
    width: 650px;
  }
  .block1 .name p {
    color: #000;
    text-align: left;
    font-family: Unbounded;
    font-size: 1.675em;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
  .block2 {
    margin-bottom: 150px;
    margin-left: -65px;
  }
  .block2 .tests #answer-block #inn-div {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .block2 .tests #answer-block #inn-div .cart1 {
    margin-bottom: 10px;
  }
  .block2 .tests #answer-block #inn-div .cart1 p {
    font-size: 1em;
    line-height: 20px;
    padding: 25px;
  }
}
@media screen and (max-width: 600px) {
  .block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -90px;
    max-width: 500px;
    margin-bottom: -35px;
    margin-top: 40px;
  }
  .block1 .name {
    width: 300px;
  }
  .block1 .name p {
    color: #000;
    text-align: left;
    font-family: Unbounded;
    font-size: 1.375em;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
  .block2 {
    margin-bottom: 150px;
    margin-left: -65px;
  }
  .block2 .tests #answer-block #inn-div {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .block2 .tests #answer-block #inn-div .cart1 {
    margin-bottom: 10px;
  }
  .block2 .tests #answer-block #inn-div .cart1 p {
    font-size: 1em;
    line-height: 20px;
    padding: 25px;
  }
  .block2 .tests #question-number {
    padding-left: 15px;
    color: #0D00FF;
    margin-bottom: 10px;
    font-family: Unbounded;
    font-size: 1.738em;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .block2 .tests #count {
    padding: 5px;
    color: #b1b1b1;
    font-family: Unbounded;
    font-size: 0.938em;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
  .block2 .tests #div {
    margin-left: 18px;
    display: flex;
    flex-direction: row;
  }
  .block2 .tests #div #main-text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.463em;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
}
@media screen and (max-width: 370px) {
  .block2 {
    margin-bottom: 150px;
    margin-left: -85px;
  }
}
@media screen and (max-width: 360px) {
  .block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    max-width: 500px;
    margin-bottom: -35px;
    margin-top: 40px;
  }
  .block2 {
    margin-bottom: 150px;
    margin-left: -70px;
  }
}
@media screen and (max-width: 330px) {
  .block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    max-width: 500px;
    margin-bottom: -35px;
    margin-top: 40px;
  }
  .block2 {
    margin-bottom: 150px;
    margin-left: -85px;
  }
}/*# sourceMappingURL=test-adaptive.css.map */